
<body class="greyBackround">
<h1 class="text-center"> Subtraction </h1>

<br/>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <input id="eval_subtract" class="form-control"/>
  </div>
</div>

<br />

<div class="row">
  <div class="text-center">
    <button class="btn btn-primary" onclick="showSubtraction('show1','eval_subtract','rowz','colz')"> Evaluate </button>
  </div>
</div>

<br />

<div id="show1"></div>

<br />




<!-- <div id="test123"></div> -->
<red>66</red>
<red>67</red>
<red>68</red>
<green>69</green>
</body>